# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env
.venv
env/
venv/
ENV/

# Compiled Python files
*.pyc

# Miscellaneous
*.bak
*.swp